@model IEnumerable<TutorSeekerEntity.SeekerAdvertise>

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<ul class="breadcrumb" style="font-size:15px;color:#000;">
    <li><a href="~/Home"><i class="fa fa-dashboard  fa-fw"></i>Home</a></li>
    <li><a href="~/Admin">Admin</a></li>
    <li class="active">Seeker Advertise</li>
    <hr class="subheaderHr" />
</ul>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <strong>Seeker Advertise</strong>

                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.SeekerName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SeekerSubject)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SeekerArea)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SeekerName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SeekerSubject)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SeekerArea)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.SeekerAdvertiseId }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.SeekerAdvertiseId }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.SeekerAdvertiseId })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="myscript.js"></script>
    <script></script>
}

@section username{
    @Session["AdminName"]
}


@section title{
    Seeker Advertise | Tutor Seeker
}
