@model TutorSeekerEntity.Tutor

@{
    Layout = "~/Views/Shared/TutorLayout.cshtml";
}


<ul class="breadcrumb" style="font-size:15px;color:#000;">
    <li><a href="~/Home"><i class="fa fa-dashboard  fa-fw"></i>Home</a></li>
    <li><a href="~/Tutor">Tutor</a></li>
    <li class="active">Delete</li>
    <hr class="subheaderHr" />
</ul>
<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-info">
        <div class="panel-heading">
           
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Are you sure you want to delete this?</strong> 
            </div>
            

        </div>
        <div class="panel-body">
            <table class="table table-condensed" border="1">
                <tr>
                    <td>@Html.DisplayNameFor(model => model.TutorName)</td>
                    <td>@Html.DisplayFor(model => model.TutorName)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.TutorEmail)</td>
                    <td>@Html.DisplayFor(model => model.TutorEmail)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.TutorPhone)</td>
                    <td>@Html.DisplayFor(model => model.TutorPhone)</td>
                </tr>


                <tr>
                    <td>@Html.DisplayNameFor(model => model.TutorGender)</td>
                    <td>@Html.DisplayFor(model => model.TutorGender)</td>
                </tr>

                <tr>
                    <td>@Html.DisplayNameFor(model => model.TutorInstitute)</td>
                    <td>@Html.DisplayFor(model => model.TutorInstitute)</td>
                </tr>


                <tr>
                    <td>@Html.DisplayNameFor(model => model.TutorDepartment)</td>
                    <td>@Html.DisplayFor(model => model.TutorDepartment)</td>
                </tr>

                <tr>
                    <td>@Html.DisplayNameFor(model => model.TutorLocation)</td>
                    <td>@Html.DisplayFor(model => model.TutorLocation)</td>

                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.TutorPreferedClass)</td>
                    <td>@Html.DisplayFor(model => model.TutorPreferedClass)</td>
                </tr>

                <tr>
                    <td>@Html.DisplayNameFor(model => model.TutorPreferedSubject)</td>
                    <td>@Html.DisplayFor(model => model.TutorPreferedSubject)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.TutorRatingTotal)</td>
                    <td>@Html.DisplayFor(model => model.TutorRatingTotal)</td>
                </tr>

                <tr>
                    <td>@Html.DisplayNameFor(model => model.TutorPhoto)</td>
                    <td><img src="~//Upload/ @Html.DisplayFor(model => model.TutorPhoto)" height="120px;" width="120px;" /></td>
                </tr>
            </table>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" />

                </div>
            }

        </div>
    </div>
</div>
        </div>
    </div>

@section username{
    @Session["TutorName"]
}
