@model TutorSeekerEntity.TutorAdvertise

@{
    Layout = "~/Views/Shared/TutorLayout.cshtml";
}

<ul class="breadcrumb" style="font-size:15px;color:#000;">
    <li><a href="~/Home"><i class="fa fa-dashboard  fa-fw"></i>Home</a></li>
    <li><a href="~/Tutor">Tutor</a></li>
    <li class="active">PostAdd</li>
    <hr class="subheaderHr" />
</ul>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.TutorName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.TutorName, new { htmlAttributes = new { @class = "form-control", @Value = Session["TutorName"], @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.TutorName, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.TutorSubject, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.TutorSubject, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TutorSubject, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.TutorArea, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.TutorArea, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TutorArea, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
@section username{
    @Session["TutorName"]
}
